<section data-ng-controller="HomeController">
    <div class="grid_8 alpha omega">
		<!--<h2 class="prefix_2">Geschichte des Heroins</h2>
		<div style="padding-left:160px;margin-top:20px;">
		<p class="howto">Klicken Sie an den Seiten auf den Pfeil, um zum nächsten Eintrag zu kommen. <br>Oder scrollen Sie sich unten durch den Zeitstrahl und wählen direkt die Ereignisse aus, die Sie interessieren.</p></div>-->
		<div style="margin-left:10px;"> 

		<iframe src="http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AvgZeeBJnmY7dHhVVmQxR3lTa3VpNTkzdkJLTy0xZ0E&amp;font=Georgia-Helvetica&amp;maptype=TERRAIN&amp;lang=de&amp;height=650" width="100%" height="650" frameborder="0"></iframe><span>Bewegen Sie die Maus rechts neben die Bilder - Pfeile erscheinen, um zum nächsten Eintrag zu kommen. Oder scrollen Sie sich unten durch den Zeitstrahl und wählen Sie direkt die Ereignisse aus, die Sie interessieren.</span></div></div></div>	
        <p class="alert alert-info">
            sha1dow <a target="_blank" href="http://mi.suka.se">mi.suka.se</a>.
        </p>
        
    </section>
</section>